*{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}
a{
    padding: 20px ;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    background-color: #46bdec;
    margin: 50px 50px 20px 50px;
width: 200px;
/* box-shadow: 1px 5px 12px 0px rgb(0 0 0); */
border: 2px solid rgb(216, 216, 216);
border-radius: 10px;
}

a:hover{
    background-color: #126f94;
}